@model IEnumerable<Garage_3._0.Models.Vehicle>
@inject ILookupService Lookup

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" class="form-control col-5" name="regNrSearch" placeholder="Search on reg.nr..." />

        <div class="input-group-append col-5">
            <select name="vehicleTypeIdSearch" asp-items="@Lookup.VehicleTypes()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>

        <div class="input-group-append col-2">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>


<p>
    <a asp-action="CreateVehicle">Create New</a>
</p>

<p>
    <a asp-action="Overview">Overview</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpaceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingSpaceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrOfWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrival)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Unpark</a>
                </td>
            </tr>
        }
    </tbody>
</table>
